<div
  class="row mb-3"
  *ngFor="let bookEl of bookshelfBooks | sortBooks: sortField; let i = index"
>
  <div class="col-md-12">
    <app-book [book]="bookEl" [bookIdx]="i"></app-book>
    <button
      class="float-right"
      style="border: none; font-size: 1rem"
      (click)="onRemoveBook(i)"
    >
      &minus;
    </button>
  </div>
</div>

<hr />

<button class="btn btn-primary" (click)="onAddNewBook()">Add New Book</button>
<button class="btn btn-secondary" (click)="onSortBooks()">
  Sort Books by {{ sortField === "author" ? "Title" : "Author" }}
</button>
