<!-- TITLE -->
<div class="row">
  <div class="col-md-12">
    <h2>Book Title</h2>
  </div>
</div>

<!-- AUTHOR -->
<div class="row">
  <div class="col-md-12">
    <h3>Author</h3>
  </div>
</div>

<!-- GENRE -->
<div class="row">
  <div class="col-md-12">
    <p>Genre</p>
  </div>
</div>

<!-- COVER IMAGE -->
<div class="row">
  <div class="col-md-12">
    <img
      src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.sS5tAwfN1phNrcih_9ERJQHaLH%26pid%3DApi&f=1"
      alt="Generic Book Cover"
      class="img-responsive"
      style="max-height: 250px"
    />
  </div>
</div>

<hr />

<!-- EDIT BOOK BUTTON -->
<div class="row">
  <div class="col-md-12">
    <button type="button" class="btn btn-primary">Edit Book</button>
  </div>
</div>
